{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<!--<script type="text/javascript" src="../../read_csv.js"></script>-->

    <form method="post" enctype="multipart/form-data" action="/voting/edit/" >
      {% csrf_token %}
      <span><label for="name">Name: {{voting.name}}</label> <input type="text" id="name" name="name" /></span>
      <span><label for="description">Description: {{voting.description}}</label> <input type="textarea" id="description" name="description" /></span>
      <p>Candidaturas: </p>

      <div id="tablaCandidaturas">
        <div id="formularioCandidaturas">
            <fieldset>
                <label for="nameCSV">Nombre: </label>
                <input type="text" id="nameCSV" name="candidature_name" />
                <label for="csvFileInput"> <strong>Candidatures' CSV File:</strong>
                </label>
                <input type="file" id="csvFileInput" onchange="handleFiles(this.files)" accept=".csv" />
            </fieldset> 
        </div>
        <div id="tablaCandidatura">
        </div>
      </div>
      <span><label for="auths" >Auths</label><input type="" id="auths" name="auths"/></span>
      <span><label for="startDate" >Start Date</label><input type="date" id="startDate" name="startDate"/></span>
      <span><label for="endDate" >End Date</label><input type="date" id="endDate" name="endDate"/></span>

      <span><label for="pubKey" >PubKey</label><input type="text" id="pubKey" name="pubKey" minlenght="256"/></span>

      <input type="submit" name="submit" onClick="return validForm();"/>
    </form>


    <script> 
    function handleFiles(files) {
	// Check for the various File API support.
	if (window.FileReader) {
		// FileReader are supported.
		getAsText(files[0]);
	} else {
		alert('FileReader are not supported in this browser.');
	}
}

function getAsText(fileToRead) {
	var reader = new FileReader();
	// Handle errors load
	reader.onload = loadHandler;
	reader.onerror = errorHandler;
	// Read file into memory as UTF-8      
	reader.readAsText(fileToRead);
}

function loadHandler(event) {
	var csv = event.target.result;
	processDataAsObj(csv);             
}

function processData(csv) {
    var allTextLines = csv.split(/\r\n|\n/);
    var lines = [];
    while (allTextLines.length) {
        lines.push(allTextLines.shift().split(','));
    }
	console.log(lines);
	drawOutput(lines);
}

//if your csv file contains the column names as the first line
function processDataAsObj(csv){
    var allTextLines = csv.split(/\r\n|\n/);
    var lines = [];
	
    //first line of csv
    var keys = allTextLines.shift().split('#');
	
    while (allTextLines.length) {
        var arr = allTextLines.shift().split('#');
        var obj = {};
        for(var i = 0; i < keys.length; i++){
            obj[keys[i]] = arr[i];
	}
        lines.push(obj);
    }
        console.log(lines);
	drawOutputAsObj(lines);
}

function errorHandler(evt) {
	if(evt.target.error.name == "NotReadableError") {
		alert("Canno't read file !");
	}
}

function drawOutput(lines){
	//Clear previous data
	document.getElementById("tablaCandidatura").innerHTML = "";
	var table = document.createElement("table");
	for (var i = 0; i < lines.length; i++) {
		var row = table.insertRow(-1);
		for (var j = 0; j < lines[i].length; j++) {
			var firstNameCell = row.insertCell(-1);
			firstNameCell.appendChild(document.createTextNode(lines[i][j]));
		}
	}
	document.getElementById("tablaCandidatura").appendChild(table);
}

//draw the table, if first line contains heading
function drawOutputAsObj(lines){
	//Clear previous data
	//document.getElementById("tablaCandidatura").innerHTML = "";
	var table = document.createElement("table");
	
	//for the table headings
	var tableHeader = table.insertRow(-1);
 	Object.keys(lines[0]).forEach(function(key){
 		var el = document.createElement("TH");
		el.innerHTML = key;		
		tableHeader.appendChild(el);
	});	
	
	//the data
	for (var i = 0; i < lines.length; i++) {
		var row = table.insertRow(-1);
		Object.keys(lines[0]).forEach(function(key){
			var data = row.insertCell(-1);
			data.appendChild(document.createTextNode(lines[i][key]));
		});
	}
    //var tableName = document.createElement("h4").innerHTML = document.getElementById(nameCSV);
    //document.getElementById("nombreCandidatura").innerHTML = "TABLA";//document.getElementById("nameCSV");
    var divCandidatura = document.createElement("div");
    var nameInput = document.getElementById("nameCSV").value;

    var nombreCandidatura = document.createElement("label");
    nombreCandidatura.innerHTML = nameInput;
    divCandidatura.id = "tablaCandidatura"+nameInput;
    
	document.getElementById("tablaCandidatura").appendChild(divCandidatura);

    document.getElementById("tablaCandidatura"+nameInput).appendChild(nombreCandidatura);
    document.getElementById("tablaCandidatura"+nameInput).appendChild(table);
}

    function validForm(){
        return alert("You're saving this voting. You'll be able to edit it after this saving and before the start date.");

    }

    </script>
{% endblock %}