<!DOCTYPE html>
<html>
{% load i18n static %}

{% block extrahead %}
<head>
    <link rel="shortcut-icon" href="#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static "visualizer/estilos.css" %}" />

</head>
{% endblock %}

{% block content %}
<body>
    <div id="app-visualizer" class="text-center">

        <header>
            <h1 class="text-center text-light">Decide</h1>
            <h2 class="text-center text-light">[[voting.id]] - <span class="badge badge-success">[[voting.name]]</span></h2>
        </header>

        <h2 v-if="!voting.start_date">Votación no comenzada</h2>
        <h2 v-else-if="!voting.end_date">Votación en curso</h2>
        <div v-else>
            <div class="btn-group" role="group" aria-label="">
                <!--
                <button id="btnSemiCircleDonut" type="button" class="btn btn-secondary">Semi Circle Donut</button>
                <button id="btnPie" type="button" class="btn btn-primary">Pie</button>
                <button id="btnDualAxe" type="button" class="btn btn-info">Dual Axe</button>
                -->
                <button id="btnPrueba" onclick="grafica()" type="button" class="btn btn-danger">Grafico de Prueba</button>
            </div>
        </div>

        <div id="grafica">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>

    </div>

    

    {% endblock %}

{% block extrabody %}

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    

<script>

//    $("#btnPie").click(function () {
//    $(".modal-header").css("background-color", "#343a40");
//    $(".modal-header").css("color", "white");
//    $(".modal-title").text("Gráfico Ejemplo");
//   $("#modal-1").modal("show");
//    pie();
//});
//['rgb(66, 134, 244,0.5)',
//   'rgb(74, 135, 72,0.5)',
//   'rgb(229, 89, 50,0.5)'
//    ]
    var voting = {{voting|safe}};
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-visualizer',
        data: {
            voting: voting
        }
    })

function grafica() {

    var ctx= document.getElementById("myChart").getContext("2d");
        var myChart= new Chart(ctx,{
            type:"doughnut",
            data:{
                labels:opciones(),
                datasets:[{
                        label:'Num datos',
                        data:votos(),
                        backgroundColor: color_por_opcion()
                }]
            },
            options: {
                rotation: 1 * Math.PI,
                circumference: 1 * Math.PI
            }
        });

}

function opciones() {
    var datos = [];
    var voting = {{voting|safe}};
    var postproc = voting.postproc;

    for(var i = 0; i < postproc.length; i++) {
        datos.push(postproc[i].option);
    }

    return datos;
}

function votos() {
    var datos = [];
    var voting = {{voting|safe}};
    var postproc = voting.postproc;

    for(var i = 0; i < postproc.length; i++) {
        datos.push(postproc[i].votes);
    }

    return datos;
}

function aleatorio(inferior,superior){
   numPosibilidades = superior - inferior
   aleat = Math.random() * numPosibilidades
   aleat = Math.floor(aleat)
   return parseInt(inferior) + aleat
} 

function dame_color_aleatorio(){
   hexadecimal = new Array("0","1","2","3","4","5","6","7","8","9","A","B","C","D","E","F")
   color_aleatorio = "#";
   for (i=0;i<6;i++){
      posarray = aleatorio(0,hexadecimal.length)
      color_aleatorio += hexadecimal[posarray]
   }
   return color_aleatorio
} 

function color_por_opcion(){
    var colores = [];
    var voting = {{voting|safe}};
    var postproc = voting.postproc;
    for(var i = 0; i < postproc.length; i++) {
        colores.push(dame_color_aleatorio());
    }

    return colores;
}

</script>

</body>
{% endblock %}

</html>