{% extends 'booth/block.html' %}
{% load i18n static %}

{% block content %}

<h1 class=text-center text-white pt-5>{{voting.name}}</h1>
<h3>{{voting.desc}}</h3>
<form action = '/booth/{{voting.id}}/' method = 'POST'>
        {%csrf_token%}

        {% for x in list %}
            <fieldset>
                <legend>{{x.candidatura}}</legend>

                    <fieldset>
                        <legend>Presidente</legend>
                        <label for="option" class="text-white">Candidatos</label><br>
                        {% for opt in x.presidentes %}
                        <div class="form-group">
                            <input name = 'presidente' type="radio" value = "{{opt.id}}" class = "form-check-input" />{{opt.name}}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <input name = 'presidente' type="radio" value = 999999999 class = "form-check-input" /> Voto nulo
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Diputados</legend>
                        <label for="option" class="text-white">Candidatos</label><br>
                        {% for opt in x.candidatos %}
                        <div class="form-group">
                            <input name = 'candidatos' type="checkbox" value = "{{opt.id}}" class = "form-check-input"/>{{opt.name}}
                        </div>
                        {% endfor %}
                    </fieldset>

            </fieldset>
        {% endfor %}

    <button type="submit" class = "btn btn-info btn-md" >Submit</button>
</form>

{% endblock %}
