{% extends 'booth/block.html' %}
{% load i18n static %}
{% block content %}

<div class = "card text-center" style="width: 600px;">
    <div class = "card-header">
        <h1 class=text-center text-white pt-5>{{voting.name}}</h1>
        <h3>{{voting.desc}}</h3>
    </div>
    <div class="card-body">
        <form action = '/booth/{{voting.id}}/' method = 'POST'>
                {%csrf_token%}

                {% for x in list %}
                    <fieldset>
                        <legend><u>{{x.candidatura}}</u></legend>

                            <fieldset>
                                <legend>{% trans "Presidente" %}</legend>
                                <label for="option" class="text-white">{% trans "Candidatos" %}</label><br>
                                {% for opt in x.presidentes %}
                                <div class="form-group">
                                    <input name = 'presidente' type="radio" value = "{{opt.id}}" class = "form-check-input" required/>{{opt.name}}
                                </div>
                                {% endfor %}
                                <div class="form-group">
                                    <input name = 'presidente' type="radio" value = 999999999 class = "form-check-input" /> Voto nulo
                                </div>
                            </fieldset>

                            <hr/>
                            
                            <fieldset>
                                <legend>{% trans "Diputados" %}</legend>
                                <label for="option" class="text-white">{% trans "Candidatos" %}</label><br>
                                {% for opt in x.candidatos %}
                                <div class="form-group">
                                    <input name = 'candidatos' type="checkbox" value = "{{opt.id}}" class = "form-check-input"/>{{opt.name}}
                                </div>
                                {% endfor %}
                            </fieldset>

                    </fieldset>
                    <hr style = "border-top: 1px solid #8c8b8b;"/>
                {% endfor %}

            <button type="submit" class = "btn btn-info btn-md" >{% trans "Enviar" %}</button>
        </form>
    </div>
</div>

{% endblock %}

