{% extends 'booth/block.html' %}

{% block content %}
<div class="container">
    <br><br><br>
	<div class="row">
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Información personal</h3>

        {% if lenErrors > 0 and is_submit == 1 %}
        <div class="alert alert-danger" role="alert">
          {% for x in errors %}
            {% if x == -1 %}
              {% for field in form %}
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              {% endfor %}
            {% endif %}

            {% if x == 0 %}
              El nombre no puede estar vacío
            {% endif %}

            {% if x == 1 %}
              El apellido no puede estar vacío
            {% endif %}

            {% if x == 2 %}
              El email no puede estar vacío
            {% endif %}

            {% if x == 3 %}
              El municipio no debe estar vacío
            {% endif %}

            {% if x == 4 %}
              La provincia no debe estar vacía
            {% endif %}

            {% if x == 5 %}
              La edad debe ser un número/ no debe estar vacía
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        {% if lenErrors == 0 and is_submit == 1 %}
        <div class="alert alert-success" role="alert">
          Actualizado correctamente
        </div>
        {% endif %}
        <form class="form-horizontal" role="form" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-3 control-label">Nombre:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{first_name}}" required="required" name="first_name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Apellido:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{last_name}}" required="required" name="last_name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{email}}" required="required" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Municipio:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{municipio}}" required="required" name="municipio">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Provincia:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{provincia}}" required="required" name="provincia">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Edad:</label>
            <div class="col-md-8">
              <input class="form-control" type="number" value="{{edad}}" required="required" name="edad">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Sexo:</label>
            <div class="col-md-8">
              <select name="sexo">
                {% if sexo == 'M' %}
                <option selected="selected" value="M">Mujer</option>
                  {%else%}
                  <option value="M">Mujer</option>
                {% endif %}
                
                {% if sexo == 'H' %}
                <option selected="selected" value="H">Hombre</option>
                {% else %}
                <option value="H">Hombre</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button type="submit" class="btn btn-primary">Guardar cambios</button>
              <a href="/" class="btn-default">Cancelar</a>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
{% endblock %}