{% extends 'booth/block.html' %}

{% block content %}
<div class="signup-form">	

	{% if lenErrors > 0 %}
        <div class="alert alert-danger" role="alert">
		{% for x in errors %}
			{% if x == -1 %}
				{% for field in form %}
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
				{% endfor %}
			{% endif %}

            {% if x == 0 %}
                El nombre no puede estar vacío
			{% endif %}

			{% if x == 1 %}
				El apellido no puede estar vacío
			{% endif %}

			{% if x == 2 %}
				Las contraseñas deben coincidir
			{% endif %}

            {% if x == 3 %}
              El email no puede estar vacío
			{% endif %}
			
        {% endfor %}
        </div>
	{% endif %}
    <form id="login-form" class="form" action="" method="post">
        {% csrf_token %}

		<h2>Crear Cuenta</h2>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" name="first_name" placeholder="Nombre" value="{{ form.first_name.value }}">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" name="last_name" placeholder="Apellido" value="{{ form.last_name.value }}">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" name="username" placeholder="Nombre de usuario" value="{{ form.username.value }}">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
				<input type="email" class="form-control" name="email" placeholder="Email" value="{{ form.email.value }}">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input type="password" class="form-control" name="password" placeholder="Contraseña">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-lock"></i>
					<i class="fa fa-check"></i>
				</span>
				<input type="password" class="form-control" name="confirm_password" placeholder="Confirmar contraseña">
			</div>
        </div>        
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
        </div>
    </form>
	<div class="text-center">¿Ya tienes una cuenta? <a href="/login/">Inicia session</a></div>
</div>
{% endblock %}