{% extends 'main.html' %}

{% block contenido %} 
<table style = "background-color: #fff">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Municipio</th>
      <th>Votacion</th>
    </tr>
    {% for dato in datos %}
    <tr>
      <td>{{dato.0.first_name}}</td>
      <td>{{dato.0.last_name}}</td>
      <td>{{dato.0.perfil.edad}}</td>
      <td>{{dato.0.perfil.sexo}}</td>
      <td>{{dato.0.perfil.municipio}}</td>
      <td><a href="/census/web/{{dato.1.pk}}">{{dato.1}}</a></td>
    </tr>
    {% endfor %}
  </table>
  <div class="border-top my-3"></div>

<form action="/census/web/export_csv" type="get">
    <input type="hidden" value={{voting_id}} name="voting_id">
    <button type="submit" class="btn btn-success float-right" >Exportar CSV</button>
</form>

<form action="/census/web/export_xlsx" type="get">
    <input type="hidden" value={{voting_id}} name="voting_id">
    <button type="submit" class="btn btn-success float-right" >Exportar Excel</button>
</form>

<form action="/census/web/export_pdf" type="get">
    <input type="hidden" value={{voting_id}} name="voting_id">
    <button type="submit" class="btn btn-success float-right" >Exportar PDF</button>
</form>

{% endblock %}